.tooltip {
    position: relative;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.slider {
    appearance: none;
    width: 200px;
    height: 5px;
    border-radius: 3px;
    background: #5300ff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #5300ff;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #5300ff;
    cursor: pointer;
}